.container {
    width: 1190px;
    margin: 0 auto;
}
/* #region顶部导航栏开始 */
.topbar {
    background-color: #ececec;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.topbar .container {
    height: 30px;
}
.welcome {
    color:#666;
    font-size: 0;
}
.welcome span,.welcome a {
    font-size: 12px;
}
.welcome .hello {
    margin-right: 28px;
}
.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}
.welcome .sign-in {
    padding-left: 10px;
}
.nav-list .list-item {
    float: left;
}
.nav-list .list-item a {
    padding: 0 15px;
    border-right:1px solid #666
}
.nav-list .list-item a:first-child {
    padding-left: 0;
}
.nav-list .list-item a:last-child {
    padding: 0;
    border: 0;
}
/* #endregion顶部导航栏结束 */